[Unit]
Description=This is the timer to set the schedule for periodic fetching of Azure Key Vault secret

[Timer]
OnCalendar=*-*-* 00/12:00:00
RandomizedDelaySec=12hours
Persistent=true

[Install]
WantedBy=timers.target
